In [28]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from plotnine import ggplot, aes, geom_density, geom_line, geom_point, ggtitle

In [72]:
Exports_commodityGroup20 = pd.read_csv('Cleaned_data/Trading2020_3-7_clean.csv')
Exports_commodityGroup20.drop('Unnamed: 0', axis=1, inplace= True)

In [ ]:
Exports_commodityGroup20['value in Millions'] = (Exports_commodityGroup20.apply((lambda row: row['Value(1000 SAR)'] / 1000), axis=1
    ...: )).round(3)

In [74]:
Exports_commodityGroup20.rename(columns={'value in Millions': 'Value(millions SAR)'}, inplace=True)

In [75]:
Exports_commodityGroup20

,Quantity/Units,Weight(Tons),Value(1000 SAR),Commodity Code,Commodity,Country Group,Value(millions SAR)
0,0,15765.183,241949.257,2071100,"MEAT, CONS. BWLS & EXTREM. OF TURKEY/CHICKEN:G...",Gulf Cooperation Council,241.949
1,0,290987.699,740453.872,4029110,"OTHER MILK, UNSWEETENED",Gulf Cooperation Council,740.454
2,0,83779.822,390287.427,4031000,YOGURT,Gulf Cooperation Council,390.287
3,0,22805.576,414107.638,4063000,"PROCESSED CHEESE, NOT GRATED OR POWDERED",Gulf Cooperation Council,414.108
4,0,45952.563,189859.825,8041021,STORED DATES,Gulf Cooperation Council,189.860
...,...,...,...,...,...,...,...
512,0,247.500,820.418,39021000,POLYPRO PYLENE,Not Defined,0.820
513,0,247.500,877.412,39023000,PROPYLENE COPOLYMERS,Not Defined,0.877
514,0,1.956,4210.834,84119900,OTHER PARTS FOR TURBO-JETS OR TURBO-PROPELLERS,Not Defined,4.211
515,0,77.327,2789.056,84249090,OTHER PARTS OF MECHANICAL APPLIANCES FOR PRAJE...,Not Defined,2.789
516,0,152.391,293.235,99999999,Other Commodities,Not Defined,0.293

In [76]:
Exports_commodityGroup20.to_csv('Cleaned_data/Trading2020_3-7_clean.csv')

Total oil exports in 2020 with country group

In [ ]:
#Country_Group.isin(['CRUDE PETROLEUM OILS'], )
tot_oil_ex_20 = Exports_commodityGroup20[Exports_commodityGroup20.Commodity.isin(['CRUDE PETROLEUM OILS'])]
tot_oil_ex_20

Total oil exports in 2019 with country group

In [ ]:
Exports_commodityGroup19 = pd.read_excel('Exports_raw/ft_exports_2019.xlsx', sheet_name='1-7' )
Exports_commodityGroup19.to_csv('Data/ft_exports_2019.csv')

In [ ]:
Exports_commodityGroup19= pd.read_csv('Cleaned_data/ft_exports_2019_clean.csv')

2019 Exports According to commodities

In [ ]:
Exports_commodityGroup19.head(10)

In [ ]:
Exports_commodityGroup19.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 1', 'الصادرات حسب الاصناف', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 
'Unnamed: 7', 'Unnamed: 8', 'R'], axis= 1, inplace=True)
Exports_commodityGroup19.drop([0,1,2,3,4], axis=0, inplace=True)
Exports_commodityGroup19.rename(columns={'Unnamed: 9': 'Quantity/Units', 'Unnamed: 10': 'Weight(1000 Tons)', 'Unnamed: 11': 'Value(million SAR)',
'Unnamed: 12' : 'Country Group', 'Unnamed: 13' : 'Commodity', 'Unnamed: 14': 'Commodity Code'}, inplace=True)

In [ ]:
Exports_commodityGroup19.rename(columns={'Weight(Tons)': 'Weight(1000 Tons)'}, inplace= True)

In [ ]:
Exports_commodityGroup19

In [ ]:
Exports_commodityGroup19.to_csv('Cleaned_data/ft_exports_2019_clean.csv')

In [ ]:
tot_oil_ex_19 = Exports_commodityGroup19[Exports_commodityGroup19.Commodity.isin(['CRUDE PETROLEUM OILS'])]
tot_oil_ex_19

Total oil exports in 2018

In [ ]:
Exports_commodityGroup18 = pd.read_excel('Exports_raw/ft_exports_2018.xlsx', sheet_name='1-7' )
Exports_commodityGroup18.to_csv('Data/ft_exports_2018.csv')

In [ ]:
Exports_commodityGroup18.head(10)

In [ ]:
Exports_commodityGroup18.drop(['Unnamed: 0', 'Unnamed: 1', 'الصادرات حسب الاصناف', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 5', 
'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'R'], axis= 1, inplace=True)
Exports_commodityGroup18.drop([0,1,2,3,4], axis=0, inplace=True)
Exports_commodityGroup18.rename(columns={'Unnamed: 9': 'Quantity/Units', 'Unnamed: 10': 'Weight(1000 Tons)', 'Unnamed: 11': 'Value(million SAR)',
'Unnamed: 12' : 'Country Group', 'Unnamed: 13' : 'Commodity', 'Unnamed: 14': 'Commodity Code'}, inplace=True)

In [ ]:
Exports_commodityGroup18

In [ ]:
tot_oil_ex_18 = Exports_commodityGroup18[Exports_commodityGroup18.Commodity.isin(['CRUDE PETROLEUM OILS'])]
tot_oil_ex_18

In [ ]:
Exports_commodityGroup18.to_csv('Cleaned_data/ft_exports_2018_clean.csv')

Total oil Exports in 2017

In [ ]:
Exports_commodityGroup17 = pd.read_excel('Exports_raw/ft_exports_2017.xlsx', sheet_name='1-7' )
Exports_commodityGroup17.to_csv('Data/ft_exports_2017.csv')

In [ ]:
Exports_commodityGroup17.head(10)

In [ ]:
Exports_commodityGroup17.drop(['Unnamed: 0', 'Unnamed: 1', 'الصادرات حسب الاصناف', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 5', 
'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'R'], axis= 1, inplace=True)
Exports_commodityGroup17.drop([0,1,2,3,4], axis=0, inplace=True)
Exports_commodityGroup17.rename(columns={'Unnamed: 9': 'Quantity/Units', 'Unnamed: 10': 'Weight(1000 Tons)', 'Unnamed: 11': 'Value(million SAR)',
'Unnamed: 12' : 'Country Group', 'Unnamed: 13' : 'Commodity', 'Unnamed: 14': 'Commodity Code'}, inplace=True)

In [ ]:
Exports_commodityGroup17

In [ ]:
Exports_commodityGroup17.to_csv('Cleaned_data/ft_exports_2017_clean.csv')

In [ ]:
tot_oil_ex_17 = Exports_commodityGroup17[Exports_commodityGroup17.Commodity.isin(['CRUDE PETROLEUM OILS'])]
tot_oil_ex_17

Total oil Exports in 2016

In [ ]:
Exports_commodityGroup16 = pd.read_excel('Exports_raw/exp_7-8-2017.xlsx', sheet_name='1-7' )
Exports_commodityGroup16.to_csv('Data/ft_exports_2016.csv')

In [ ]:
Exports_commodityGroup16.head(6)

In [ ]:
Exports_commodityGroup16.drop(['Unnamed: 0', 'Unnamed: 1', 'الصادرات حسب الاصناف', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 5', 
'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'R'], axis= 1, inplace=True)
Exports_commodityGroup16.drop([0,1,2,3,4], axis=0, inplace=True)
Exports_commodityGroup16.rename(columns={'Unnamed: 9': 'Quantity/Units', 'Unnamed: 10': 'Weight(1000 Tons)', 'Unnamed: 11': 'Value(million SAR)',
'Unnamed: 12' : 'Country Group', 'Unnamed: 13' : 'Commodity', 'Unnamed: 14': 'Commodity Code'}, inplace=True)

In [ ]:
Exports_commodityGroup16

In [ ]:
tot_oil_ex_16 = Exports_commodityGroup16[Exports_commodityGroup16.Commodity.isin(['CRUDE PETROLEUM OILS'])]
tot_oil_ex_16

In [ ]:
Exports_commodityGroup16.to_csv('Cleaned_data/ft_exports_2016_clean.csv')

Total oil exports in 2015

In [ ]:
Exports_commodityGroup15 = pd.read_excel('Exports_raw/ft-exports-2015_1.xlsx', sheet_name='1-7' )
Exports_commodityGroup15.to_csv('Data/ft_exports_2015.csv')

In [51]:
Exports_commodityGroup15 = pd.read_csv('Cleaned_data/ft_exports_2015_clean.csv')

In [53]:
Exports_commodityGroup15.head(6)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 1,Unnamed: 2,الصادرات حسب الاصناف,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,R
0,0,NaN,NaN,NaN,Exports According to commodities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,الوزن طن,القيمة بالالف ريال,عام 2014 Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Weight Tons,Value (000 S R),NaN,NaN
2,2,رمز السلعة,السلعة,مجموعة الدول,صادرات Export,NaN,NaN,إعادة ReExport,NaN,NaN,المجموع Total,NaN,NaN,Country Group,Commodity,Commodity Code,NaN
3,3,NaN,NaN,NaN,الكمية,وزن,قيمة,الكمية,وزن,قيمة,الكمية,وزن,قيمة,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,Units,Weight,Value,Units,Weight,Value,Units,Weight,Value,NaN,NaN,NaN,NaN
5,5,01012910,خيول للرياضة,دول مجلس التعاون الخليجي,400,105,86277,185,53,13887,585,159,100164,Gulf Cooperation Council,HORSES FOR SPORT,01012910,NaN

In [54]:
Exports_commodityGroup15.drop(['Unnamed: 0', 'Unnamed: 1', 'الصادرات حسب الاصناف', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 5', 
'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'R'], axis= 1, inplace=True)
Exports_commodityGroup15.drop([0,1,2,3,4], axis=0, inplace=True)
Exports_commodityGroup15.rename(columns={'Unnamed: 9': 'Quantity/Units', 'Unnamed: 10': 'Weight(Tons)', 'Unnamed: 11': 'Value(million SAR)',
'Unnamed: 12' : 'Country Group', 'Unnamed: 13' : 'Commodity', 'Unnamed: 14': 'Commodity Code'}, inplace=True)

In [55]:
Exports_commodityGroup15

,Unnamed: 0.1,Quantity/Units,Weight(Tons),Value(million SAR),Country Group,Commodity,Commodity Code
5,01012910,585,159,100164,Gulf Cooperation Council,HORSES FOR SPORT,01012910
6,01012910,19,4,2200,Other Arab League Countries,HORSES FOR SPORT,01012910
7,01029000,1134,114,1104,Gulf Cooperation Council,OTHER BOVINE ANIMALS,01029000
8,01041090,17373,655,9639,Other Arab League Countries,OTHER SHEEP,01041090
9,01042090,4020,112,1977,Other Arab League Countries,OTHER GOATS,01042090
...,...,...,...,...,...,...,...
7612,97011000,0,14,203,Other Country Groups,"PAINTINGS, DRAWINGS AND PASTELS BY HAND",97011000
7613,97019000,0,41,601,Diffrent Country Groups,"HAND SEUQALP EVITAROCED ,SMETI DERUTCAFUNAM D...",97019000
7614,97060090,0,2,4,Other Country Groups,OTHER ANTIQUES OVER 100 YEARS OLD,97060090
7615,98010000,0,55,331,Europe not European Union,the personal effects and used household items ...,98010000
7616,99999999,683664,59195,1032917,Diffrent Country Groups,Other Commodities,99999999

In [65]:
Exports_commodityGroup15.rename(columns={'Value(1000 SAR)}': 'Value(1000 SAR)'}, inplace=True)

In [71]:
Exports_commodityGroup15['Value(million SAR)'] = (Exports_commodityGroup15.apply((lambda row: row['Value(1000 SAR)'] / 1000), axis=1
    ...: )).round(3)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [70]:
Exports_commodityGroup15.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7612 entries, 5 to 7616
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     7612 non-null   object
 1   Quantity/Units   7612 non-null   object
 2   Weight(Tons)     7612 non-null   object
 3   Value(1000 SAR)  7612 non-null   object
 4   Country Group    7612 non-null   object
 5   Commodity        7612 non-null   object
 6   Commodity Code   7612 non-null   object
dtypes: object(7)
memory usage: 475.8+ KB

In [66]:
tot_oil_ex_15 = Exports_commodityGroup15[Exports_commodityGroup15.Commodity.isin(['CRUDE PETROLEUM OILS'])]
tot_oil_ex_15
# fix weight to be in 1000 Tons

,Unnamed: 0.1,Quantity/Units,Weight(Tons),Value(1000 SAR),Country Group,Commodity,Commodity Code
873,27090000,0,10358796,27900302,Gulf Cooperation Council,CRUDE PETROLEUM OILS,27090000
874,27090000,0,5903373,15976493,Other Arab League Countries,CRUDE PETROLEUM OILS,27090000
875,27090000,0,13454997,36222291,Islamic not Arabic countries,CRUDE PETROLEUM OILS,27090000
876,27090000,0,207936436,551016494,"Asian not Arabic ,not Islamic",CRUDE PETROLEUM OILS,27090000
877,27090000,0,6876080,18239857,"African not Arabic,not Islamic",CRUDE PETROLEUM OILS,27090000
878,27090000,0,290110,718402,Australia and Oceania,CRUDE PETROLEUM OILS,27090000
879,27090000,0,62625284,163298333,North America,CRUDE PETROLEUM OILS,27090000
880,27090000,0,3427842,9147249,South America,CRUDE PETROLEUM OILS,27090000
881,27090000,0,45319232,116207854,European Union,CRUDE PETROLEUM OILS,27090000
5856,27090000,0,83943,232128,Europe not European Union,CRUDE PETROLEUM OILS,27090000
5857,27090000,0,0,0,Other Country Groups,CRUDE PETROLEUM OILS,27090000

In [69]:
Exports_commodityGroup15.to_csv('Cleaned_data/ft_exports_2015_clean.csv')

Total oli Exports in 2014

In [ ]:
Exports_commodityGroup14 = pd.read_excel('Exports_raw/lsdrt_2014_1_0.xlsx', sheet_name='1-7' )
Exports_commodityGroup14.to_csv('Data/ft_exports_2014.csv')

In [35]:
Exports_commodityGroup14= pd.read_csv('Cleaned_data/ft_exports_2014_clean.csv')

In [ ]:
Exports_commodityGroup14.drop('Unnamed: 0', axis= 1, inplace=True)

In [ ]:
Exports_commodityGroup14.rename(columns={'Value(million SAR)' : 'Value(1000 SAR)' }, inplace=True)
Exports_commodityGroup14

In [47]:
Exports_commodityGroup14.rename(columns={'value in Millions' : 'Value(Million SAR)' }, inplace=True)

In [48]:
Exports_commodityGroup14.head(6)

,Unnamed: 0,Quantity/Units,Weight(Tons),Value(1000 SAR),Country Group,Commodity,Commodity Code,Value(Million SAR)
0,0,585,159,100164,Gulf Cooperation Council,HORSES FOR SPORT,1012910,100.164
1,1,19,4,2200,Other Arab League Countries,HORSES FOR SPORT,1012910,2.200
2,2,1134,114,1104,Gulf Cooperation Council,OTHER BOVINE ANIMALS,1029000,1.104
3,3,17373,655,9639,Other Arab League Countries,OTHER SHEEP,1041090,9.639
4,4,4020,112,1977,Other Arab League Countries,OTHER GOATS,1042090,1.977
5,5,3504288,221,15719,Gulf Cooperation Council,"FOWLS OF GALLUS DOMESTICUS, NOT MORE THAN 185 ...",1051100,15.719

In [ ]:
Exports_commodityGroup14.drop(['Unnamed: 0', 'Unnamed: 1', 'الصادرات حسب الاصناف', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 5', 
'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'R'], axis= 1, inplace=True)
Exports_commodityGroup14.drop([0,1,2,3,4, 5852], axis=0, inplace=True)
Exports_commodityGroup14.rename(columns={'Unnamed: 9': 'Quantity/Units', 'Unnamed: 10': 'Weight(Tons)', 'Unnamed: 11': 'Value(million SAR)',
'Unnamed: 12' : 'Country Group', 'Unnamed: 13' : 'Commodity', 'Unnamed: 14': 'Commodity Code'}, inplace=True)

In [ ]:
Exports_commodityGroup14['value in Millions'] = (Exports_commodityGroup14.apply((lambda row: row['Value(million SAR)'] / 1000), axis=1
    ...: )).round(3)

In [ ]:
Exports_commodityGroup14.drop([5852], axis=0, inplace=True)

In [50]:
Exports_commodityGroup14

,Unnamed: 0,Quantity/Units,Weight(Tons),Value(1000 SAR),Country Group,Commodity,Commodity Code,Value(Million SAR)
0,0,585,159,100164,Gulf Cooperation Council,HORSES FOR SPORT,1012910,100.164
1,1,19,4,2200,Other Arab League Countries,HORSES FOR SPORT,1012910,2.200
2,2,1134,114,1104,Gulf Cooperation Council,OTHER BOVINE ANIMALS,1029000,1.104
3,3,17373,655,9639,Other Arab League Countries,OTHER SHEEP,1041090,9.639
4,4,4020,112,1977,Other Arab League Countries,OTHER GOATS,1042090,1.977
...,...,...,...,...,...,...,...,...
7606,7607,0,14,203,Other Country Groups,"PAINTINGS, DRAWINGS AND PASTELS BY HAND",97011000,0.203
7607,7608,0,41,601,Diffrent Country Groups,"HAND SEUQALP EVITAROCED ,SMETI DERUTCAFUNAM D...",97019000,0.601
7608,7609,0,2,4,Other Country Groups,OTHER ANTIQUES OVER 100 YEARS OLD,97060090,0.004
7609,7610,0,55,331,Europe not European Union,the personal effects and used household items ...,98010000,0.331
7610,7611,683664,59195,1032917,Diffrent Country Groups,Other Commodities,99999999,1032.917

In [ ]:
tot_oil_ex_14 = Exports_commodityGroup14[Exports_commodityGroup14.Commodity.isin(['CRUDE PETROLEUM OILS'])]
tot_oil_ex_14
# fix weight to be in 1000 Tons

In [49]:
Exports_commodityGroup14.to_csv('Cleaned_data/ft_exports_2014_clean.csv')

Total oil Exports in 2013

In [ ]:
Exports_commodityGroup13 = pd.read_excel('Exports_raw/lsdrt_2013_0.xlsx', sheet_name='1-7' )
Exports_commodityGroup13.to_csv('Data/ft_exports_2013.csv')

In [29]:
Exports_commodityGroup13= pd.read_csv('Cleaned_data/ft_exports_2013_clean.csv')

In [ ]:
Exports_commodityGroup13.head(6)

In [ ]:
Exports_commodityGroup13.drop(['Unnamed: 0', 'Unnamed: 1', 'الصادرات حسب الاصناف', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 5', 
'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'R'], axis= 1, inplace=True)
Exports_commodityGroup13.drop([0,1,2,3,4], axis=0, inplace=True)
Exports_commodityGroup13.rename(columns={'Unnamed: 9': 'Quantity/Units', 'Unnamed: 10': 'Weight(Tons)', 'Unnamed: 11': 'Value(1000 SAR)',
'Unnamed: 12' : 'Country Group', 'Unnamed: 13' : 'Commodity', 'Unnamed: 14': 'Commodity Code'}, inplace=True)

In [31]:
Exports_commodityGroup13['Value(millions SAR)'] = (Exports_commodityGroup13.apply((lambda row: row['Value(1000 SAR)'] / 1000), axis=1
    ...: )).round(3)

In [32]:
Exports_commodityGroup13

,Unnamed: 0,Quantity/Units,Weight(Tons),Value(1000 SAR),Country Group,Commodity,Value(millions SAR)
0,5,386,92,2740,Gulf Cooperation Council,HORSES FOR SPORT,2.740
1,6,676,13,822,Gulf Cooperation Council,PURE-BRED BREEDING SHEEP,0.822
2,7,2515,71,1372,Gulf Cooperation Council,OTHER SHEEP,1.372
3,8,77070,2969,57790,Other Arab League Countries,OTHER SHEEP,57.790
4,9,4921,141,10126,Gulf Cooperation Council,OTHER GOATS,10.126
...,...,...,...,...,...,...,...
7611,7616,0,39,775,Diffrent Country Groups,"HAND SEUQALP EVITAROCED ,SMETI DERUTCAFUNAM D...",0.775
7612,7617,0,7,15,Other Country Groups,"ORIGINAL SCULPTURES AND STATUARY, IN ANY MATERIAL",0.015
7613,7618,0,8,43,Other Country Groups,OTHER ANTIQUES OVER 100 YEARS OLD,0.043
7614,7619,0,93,445,Other Country Groups,the personal effects and used household items ...,0.445
7615,7620,1049001,58441,416163,Diffrent Country Groups,OTHER ARTICLES NOT ELSEWHERE CLASSIFIED,416.163

In [33]:
tot_oil_ex_13 = Exports_commodityGroup13[Exports_commodityGroup13.Commodity.isin(['CRUDE PETROLEUM OILS'])]
tot_oil_ex_13
# fix weight to be in 1000 Tons & value to be millions SAR

,Unnamed: 0,Quantity/Units,Weight(Tons),Value(1000 SAR),Country Group,Commodity,Value(millions SAR)
903,908,0,10743463,31958727,Gulf Cooperation Council,CRUDE PETROLEUM OILS,31958.727
904,909,0,5489010,16341674,Other Arab League Countries,CRUDE PETROLEUM OILS,16341.674
905,910,0,13906229,41230312,Islamic not Arabic countries,CRUDE PETROLEUM OILS,41230.312
906,911,0,216582432,642256253,"Asian not Arabic ,not Islamic",CRUDE PETROLEUM OILS,642256.253
907,912,0,8399781,24760288,"African not Arabic,not Islamic",CRUDE PETROLEUM OILS,24760.288
908,913,0,429041,1252054,Australia and Oceania,CRUDE PETROLEUM OILS,1252.054
909,914,0,72790783,203077102,North America,CRUDE PETROLEUM OILS,203077.102
910,915,0,3940642,11689495,South America,CRUDE PETROLEUM OILS,11689.495
911,916,0,44496230,129912353,European Union,CRUDE PETROLEUM OILS,129912.353

In [34]:
Exports_commodityGroup13.to_csv('Cleaned_data/ft_exports_2013_clean.csv')

## US oil exports

In [ ]:
US_oil_exports= pd.read_csv('Exports_raw/U.S._Exports_of_Crude_Oil.csv')

In [ ]:
US_oil_exports